@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --roboto: "Roboto", sans-serif;
  --rubik: "Rubik", sans-serif;
  --general-blue: #295091;
  --general-gray: #515151;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--rubik);
  scroll-behavior: smooth;
}

.container {
  width: 1200px;
  margin: 0px auto;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-baseline {
  justify-content: baseline;
}
.justify-content-between {
  justify-content: space-between;
}
.gap-5 {
  gap: 10px;
}
.mt-1 {
  margin-top: 11px;
}
.mt-2 {
  margin-top: 18px;
}
.mt-5 {
  margin-top: 44px;
}
.list-style-none {
  list-style: none;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
/* ------------------------------------------ header----------------------------------- */
.logo-and-price {
  column-gap: 23px;
}

.logo-box {
  background-color: #fff;
  padding: 4px 8px;
  border-radius: 5px;
  box-shadow: 1px 1px #cacaca40;
}
.logo-text {
  color: var(--general-blue);
}

.symbol-currency {
  color: var(--general-blue);
  font-weight: 700;
}
.currency-numbers {
  color: var(--general-gray);
  font-size: 16px;
  font-weight: 400;
}

#global-search {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid var(--general-gray);
}
[global-search-btn] {
  padding: 9px 15px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid var(--general-gray);
  background-color: white;
  color: var(--general-gray);
  cursor: pointer;
}

#lang-select {
  outline: none;
  border: none;
}

.lang-select-box {
  border: 1px solid var(--general-gray);
  padding: 6.5px 5px;
  border-radius: 5px;
}
[langText] {
  font-size: 20px;
  font-weight: 700;
}
.subscribe-btn ,.foot-subscribe-btn{
  padding: 11px 25px;
  border: 1px solid rgb(128, 198, 241);
  border-radius: 5px;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 100%,
    rgba(255, 250, 250, 1) 100%
  );
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.search-lang-share {
  gap: 20px;
}

/* ------------------------------------------Nav-------------------------- */
.nav-list {
  background-color: white;
  box-shadow: 1px 2px #9f9f9f30;
  border: 1px solid #9f9f9f30;
  padding: 22px 24px;
}
.nav-list > li > a {
  text-decoration: none;
  color: var(--general-gray);
}
.nav-list > li {
  list-style: none;
  font-family: var(--rubik);
  font-weight: 500;
}

.info-section-box {
  padding: 30px 0px;
  padding-left: 40px;
  background: #f6f6f9;
}

.info-section-list li {
  width: 287px;
}
.info-section-list li:nth-child(1) {
  border-right: 2px solid red;
  padding: 8px 0px;
}
.info-section-list li:nth-child(3) {
  border-right: 1px solid #f4ccd1;
  border-left: 1px solid #f4ccd1;
  padding: 8px 10px;
}
.info-text a {
  text-decoration: none;
  font-size: 18px;
}
.info-text-one {
  color: red;
}
.info-text-two {
  color: #15ce3d;
}
.info-text-three {
  color: black;
}

/* ---------------------------------- Main ----------------------------- */
.gap-20 {
  gap: 20px;
}
.news-card {
  display: grid;
}
.news-cards-list-item {
  width: 386px;
}
.news-card > span {
  color: var(--general-gray);
}
.news-card a {
  color: black;
  font-family: var(--rubik);
  font-weight: 500;
}
.news-card img {
  width: 100%;
  height: 190px;
  scale: -1;
}

.news-cards-list-item:hover .news-card > img {
  scale: 1;
  cursor: pointer;
  transition: all ease-in-out 0.7s;
}
.notification-btn {
  background: rgb(235, 81, 9);
  background: linear-gradient(
    90deg,
    rgba(235, 81, 9, 1) 74%,
    rgba(243, 240, 49, 1) 100%,
    rgba(245, 255, 0, 1) 100%
  );
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: var(--rubik);
  font-weight: 500;
  cursor: pointer;
}
.notification-text span {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
}
.notifications-box {
  background-color: rgba(239, 186, 84, 0.18);
  padding: 25px 34px;
  border-radius: 5px;
}
.lastest-news-container {
  display: grid;
  gap: 15px;
  grid-template-columns: 64% 35%;
}
.article-second-section {
  background-color: rgba(246, 246, 249, 1);
  border-radius: 5px;
  padding: 16px 20px;
}
.lastest-news-container > div:nth-child(1) {
  display: grid;
  row-gap: 15px;
}
.lastest-news-card-img img {
  width: 252px;
  height: 143px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
}
.lastest-news-card-text > p {
  font-family: var(--rubik);
  font-size: 15px;
  font-weight: 400;
  line-height: 17.78px;
  margin: 10px 0px;
}
.lastest-news-card-text > span {
  font-family: var(--rubik);
  font-size: 17px;
  font-weight: 500;
}
.lastest-news-card-text > div {
  color: var(--general-gray);
  font-family: var(--rubik);
  font-size: 14px;
}
.pupular-news-title {
  font-family: var(--rubik);
  font-size: 20px;
  font-weight: 500;
  line-height: 23.7px;
}
.popular-news-card > p {
  font-family: var(--rubik);
  font-size: 17px;
  font-weight: 400;
  width: 330px;
  margin: 6px 0px 11px 0px;
}
.popular-news-card-date {
  font-family: var(--rubik);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.59px;
  color: var(--general-gray);
}
.other-news-card {
  border-top: 4px solid rgba(228, 228, 228, 1);
  margin-top: 14px;
  padding: 10px 0px;
}
.other-news-card > p {
  margin: 10px 0px;
  width: 250px;
}

.ucell-img-box > img {
  width: 100%;
}
.ucell-img-box {
  margin-top: 20px;
}
.big-news-btn {
  background-color: var(--general-blue);
  width: 200px;
  padding: 15px 0px;
  border-radius: 5px;
  border: none;
}
.big-news-btn a {
  color: white;
  font-family: var(--rubik);
  font-size: 17px;
  font-weight: 500;
}
.always-news-container {
  background: #f6f6f9;
  display: grid;
  grid-template-columns: 250px 526px 350px;
  align-items: center;
  padding-top: 37px;
  border-radius: 5px;
  margin-bottom: 38px;
}

.always-news-text > span {
  font-family: var(--rubik);
  font-size: 23px;
  font-weight: 500;
  line-height: 28.44px;
  color: #295093;
}
.always-news-text > p {
  font-family: Rubik;
  font-size: 17px;
  font-weight: 500;
  line-height: 21.33px;
  color: black;
}
/* ---------------------------- Footer----------------------------- */

#footer {
  background-color: var(--general-blue);
  color: white;
  padding: 20px 0px;
}
.footer-top-section {
  margin-bottom: 18px;
}
.foot-nam-title {
  padding: 11px 12px;
  background-color: #133c82;
  border-radius: 5px;
}
.foot-nam-title > a {
  color: white;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.96px;
}
.footer-bottom-section {
  margin-top: 12px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 30px;
}
.foot-line {
  width: 100%;
  border: 2px solid #133c82;
}
.foot-list > li a {
  color: white;
  font-family: var(--rubik);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.59px;
  text-align: left;
}
/* For mobile  */
@media only screen and (max-width: 500px){
  .container{
    width: 100%;
    padding: 0px 10px;
  }
  .currency-container{
    display: none;
  }
  .logo-text{
    font-size: 13px;
  }
  .global-search-form-box{
    display: none;
  }
  .subscribe-btn{
    display: none;
  }
  .nav-list{
    flex-wrap: wrap;
    gap: 20px;
  }
  .info-section-list{
    gap: 20px;
  }
  .news-cards-list{
   justify-content: center;
  }
  .news-cards-list-item {
    width: 90%;
  }
  .news-card> img{
    scale: 1;
  }
  .notification-text span{
    font-size: 14px;
  }
  .notification-btn{
    font-size: 12px;
  }
  .notifications-box{
    padding: 15px 10px;
    gap: 10px;
  }
  .lastest-news-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
  .lastest-news-card{
    flex-wrap: wrap;
  }
  .lastest-news-card-text > p {
    font-family: var(--rubik);
    font-size: 11px;
    font-weight: 400;
    line-height: 17.78px;
    margin: 10px 0px;
  }
  .lastest-news-card-text > span {
    font-family: var(--rubik);
    font-size: 12px;
    font-weight: 500;
  }
  .always-news-container {
    background: #f6f6f9;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding-top: 37px;
    border-radius: 5px;
    margin-bottom: 38px;
  }
  .always-news-text span{
    font-size: 15px;
  }
  .always-news-text p{
    font-size: 15px;
  }
  .stores-box{
    flex-wrap: wrap;
    gap: 5px;
  }
  .foot-subscribe-btn{
    padding: 10px;
  }
  .foot-nam-title{
    margin-bottom: 10px;
  }
  .footer-bottom-section {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

/* For tablet and laptop  */

@media only screen and (max-width: 1025px){
  .container{
    width: 90%;
    overflow: hidden;
  }
  .currency-container{
    display: none;
  }
 .always-news-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding-top: 37px;
  border-radius: 5px;
  margin-bottom: 38px;
  gap: 10px;
 }
 .news-cards-list{
  justify-content: center;
 }
 .nav-list{
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
 }

}
@media only screen and (max-width: 835px){
  .lastest-news-container{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr ;
  }
  .subscribe-btn{
    display: none;
  }
}